/*INDEX*/
li{list-style-type: none; padding: 10px; margin: 10px;}
a{text-decoration: none;}
ul{ display: flex; justify-content: flex-end;}
nav{ width: 100%;}
.imgLogo img{ padding: 5px; border-radius: 150px;}
*{margin: 0; padding: 0;}
.gridIndex{
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{grid-area: header; display: flex; position: sticky; top: 0; background-color: aliceblue; font-size: 20px; display: flex;
    justify-content: space-between;
    align-items: center;
}
main{grid-area: main;}
footer{grid-area: footer; display: flex; justify-content: space-around; color: rgb(255, 255, 255);
    flex-direction: row; background-color: black; padding: 20px;
}
.inicio{ background-image: url(../assets/img/fondosi.webp);  padding: 200px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px; background-size: cover;
}
.lorems{    background-color: aliceblue;
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px;
}
.loremFoto{background-image: url(../assets/img/fondocafe2.jpg); padding: 70px; background-position-y: 70%; color: white
    ;}

/*MEDIAQUERIE INDEX*/
@media  screen and (max-width: 768px){
    header{ position:static;}
    footer{ flex-direction: column;}
    .inicio{ padding: 100px;}
    .liIndex{display: flex; flex-wrap: wrap;}
    .lorems{padding: 70px;}
}

/*UBICACION*/
.gridUbicacion{
    display: grid;
    grid-template-areas: 
    "header"
    "encabezadoUbi"
    "bloqueUbi"
    "mapaUbi"
    "formUbi"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
}
header{grid-area: header;}
.encabezadoUbi{grid-area: encabezadoUbi; text-align: center; margin: 20px;}
.bloqueUbi{grid-area: bloqueUbi;}
.mapaUbi iframe{grid-area: mapaUbi; margin: 5px; height: 100%; width: 100%; position: relative;}
.formUbi{grid-area: formUbi; padding: 60px; background-color: aliceblue; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 17px;}
footer{grid-area: footer;}

/*BLOQUE UBICACION*/
.bloqueUbi{
    background-color: rgb(2, 2, 45); color: blanchedalmond; align-items: center;
    display: grid;
    grid-template-areas: 
    "imgUbi textoUbi";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
.imgUbi{grid-area: imgUbi;}
.textoUbi{grid-area: textoUbi; text-align: center; display:grid; grid-row-gap: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 17px;}

/*MEDIAQUERIE UBICACION*/
@media  screen and (max-width: 768px){
    .bloqueUbi{
        display: grid;
        grid-template-areas: 
        "imgUbi"
        "textoUbi";
        grid-template-columns: 100%; grid-template-rows: auto auto;
    }
    .textoUbi{ margin: 10px;}
    .imgUbi img{width: 100%;}
    .mapaUbi iframe{margin: 0; margin-top: 10px; left: 0; top: 0; height: 100%; width: 100%; position: relative;}
    .formUbi textarea{width: 100%;}
    footer{ flex-direction: column; text-align: center;}
}
/*NOSOTROS*/
.gridNosotros{
    text-align: center;
    display: grid;
    grid-template-areas: 
    "header"
    "encabezadoNos"
    "imgsNos"
    "loremNos"
    "footer";
    grid-template-columns: 100% ;
    grid-template-rows: repeat(5, auto) ;
}
.headerNos{grid-area: header; position: static;}
.encabezadoNos{grid-area: encabezadoNos; padding: 50px;}
.imgsNos{grid-area: imgsNos;}
.loremNos{grid-area: loremNos;}
footer{grid-area: footer;}
.navNos{justify-content: flex-end;}
.imgNosa img, .imgNosb img, .imgNosc img{width: 350px; height:360px; }
.imgsNos{display: flex; justify-content: center ;}
.loremNos {padding: 100px;}
/*IMGSNOS BLOQUE GRID*/
.imgsNos{
    display: grid;
    grid-template-areas:  
    "imgNosa imgNosb imgNosc";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.imgNosa{grid-area: imgNosa;}
.imgNosb{grid-area: imgNosb;}
.imgNosc{grid-area: imgNosc;}
/*NOSOTROS MEDIAQUERIE */
@media  screen and (max-width: 768px) {
    .imgsNos {
        display: grid;
        grid-template-areas: 
        "imgNosa"
        "imgNosb"
        "imgNosc";
        grid-template-columns: 100%;
        grid-template-rows:repeat(3, auto);
    }
    .imgNosa{grid-area: imgNosa;}
    .imgNosb{grid-area: imgNosb;}
    .imgNosc{grid-area: imgNosc;}
    .loremNos{padding: 75px;}
}

/*MENU*/
.menuGrid{
    display: grid;
    grid-template-areas: 
    "header"
    "encabezadoMenu"
    "tablaMenu"
    "imgsMenu"
    "menuLorem"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
}
header{grid-area: header;}
.encabezadoMenu{grid-area: encabezadoMenu; text-align: center; margin: 20px;}
.tablaMenu{grid-area: tablaMenu; border: 10px; padding: 10px;}
.imgsMenu{grid-area: imgsMenu;}
.menuLorem{grid-area: menuLorem; padding: 100px; text-align: center; margin: 10px;}
footer{grid-area: footer;}
/*IMAGENES MENU*/
.imgsMenu{
    align-items: center;
    display: grid;
    grid-template-areas: 
    "imgMenua imgMenub imgMenuc imgMenud";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}
.imgsMenu img{width: 250px; height: 200px;} 
.imgMenua {grid-area: imgMenua;  padding: 3px;}
.imgMenub {grid-area: imgMenub;  padding: 0; margin: 0; border: 0;}
.imgMenuc {grid-area: imgMenuc;  padding: 0; margin: 0; border: 0;}
.imgMenud{grid-area: imgMenud; padding: 0; border: 0;}
/*MEDIAQUERIE MENU*/
@media  screen and (max-width: 768px){
.imgsMenu{
    display: grid;
    grid-template-areas:  
    "imgMenua imgMenub"
    "imgMenuc imgMenud";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.imgMenua{grid-area: imgMenua}
.imgMenub{grid-area: imgMenub;}
.imgMenuc{grid-area: imgMenuc;}
.imgMenud{grid-area: imgMenud;}
.imgsMenu img{width: 180px; height: 180px;}
}
/*RESERVAS*/
.gridReservas{
    display: grid;
    grid-template-areas:  
    "header"
    "encabezadoRes"
    "mainReservas"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: repeat(4. auto);
}
header{grid-area: header;}
.encabezadoRes{grid-area: encabezadoRes; text-align: center; padding: 20px;}
.mainReservas{grid-area: mainReservas;}
footer{grid-area: footer;}

/*CUESTIONARIO RESERVAS*/ 
.mainReservas{
    display: grid;
    grid-template-areas:  
    "divResa divResb"
    "divResc divResd"
    "divRese divResf"
    "divResg none";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    font-family:initial;
    font-size: 20px;
    text-align:justify;
}
.divResa{grid-area: divResa; padding: 20px; display: block;}
.divResb{grid-area: divResb; padding: 20px; display: block;}
.divResc{grid-area: divResc; padding: 20px; display: block;}
.divResd{grid-area: divResd; padding: 20px; display: block;}
.divRese{grid-area: divRese; padding: 20px; display: block;}
.divResf{grid-area: divResf; padding: 20px; display: block;}
.divResg{grid-area: divResg; padding: 20px; display: block;}
.fondoForm{  margin: 30px; margin-top: 0px; padding: 10px;  background-image: url(../assets/img/cafeteria.webp); }
/*MEDIAQUERIE RESERVAS*/
@media  screen and (max-width: 768px) {
    .mainReservas{
        display: grid;
        grid-template-areas:  
        "divResa"
        "divResb"
        "divResc"
        "divResd"
        "divRese"
        "divResf"
        "divResg";
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, auto);
    }
    .divResa{grid-area: divResa;}
    .divResb{grid-area: divResb;}
    .divResc{grid-area: divResc;}
    .divResd{grid-area: divResd;}
    .divRese{grid-area: divRese;}
    .divResg{grid-area: divResg; }
    .divResf{grid-area: divResf;}
    .fondoForm{margin: 10px; margin-top: 0px;}
}